<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div class="alert alert-danger" role="alert">
        Site under maintenance due to discontinuation of free tier by Heroku.
      </div>
      <h2>
        <span class="badge badge-light">Twitter</span>
        : Does X follow Y?
        <span class="badge badge-success">{{ resultYes }}</span>
        <span class="badge badge-danger">{{ resultNo }}</span>
        <span class="badge badge-secondary">{{ error }}</span>
      </h2>
      <hr />
      <form>
        <div class="form-group">
          <label for="handleX">Twitter Handle X</label>
          <input type="text" class="form-control" id="handleX" placeholder="Enter Twitter handle" [(ngModel)]="handleX"
            name="x" required />
        </div>
        <div class="form-group">
          <label for="handleX">Twitter Handle Y</label>
          <input type="text" class="form-control" id="handleY" placeholder="Enter Twitter handle" [(ngModel)]="handleY"
            name="y" required />
        </div>
        <button type="button" class="btn btn-primary" (click)="getData()" *ngIf="!loading">
          Submit
        </button>
        <button type="button" class="btn btn-primary" disabled *ngIf="loading">
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Loading...
        </button>
      </form>
      <hr />
      <span>Developed with ❤️ by Smile. Source code available at <a href="https://github.com/smilep/twitter-play-ui"
          target="_blank">GitHub</a>.</span>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>